---
const { platform, username } = Astro.props;
---

<a href={`https://${platform.toLowerCase()}.com/${username}`} target="_blank">{platform}</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: whitesmoke !important;
      background-color: #4c1d95;
      text-decoration: none;
      transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    a:hover {
        box-shadow: -0.2rem 0.2rem 0 1px violet;
        transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
</style>
